:root {
  /* --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-primary: #F5F5F7;
  --color-secondary: #9FA2B4;
  --color-accent: #D4AF37; */
  --color-primary: #F5F5F7;
  
  --color-secondary: #9FA2B4;
  --color-opposite: #13da2e;
  --color-complementary: #008080;


  --color-bg-primary: #6FF073;
  --color-bg-secondary: black;
  --color-bg-complementary: #101010;
  --color-text-secondary: white;
}

[data-theme="dark"] {
  --color-bg: #1c1c1c;
  --color-text: #f5f5f5;
  --color-primary: #2F323F;
  --color-secondary: #64647C;
  --color-accent: #C49F3B;
}
